/* body,
html {
    height: 100%;
    overflow: hidden;
} */

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader {
    width: 200px;
    height: 200px;
    position: relative;
    perspective: 1000px;
}

.cube {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    animation: rotate 10s infinite linear;
}

.face {
    position: absolute;
    width: 200px;
    height: 200px;
    background: rgba(0, 255, 255, 0.1);
    border: 2px solid cyan;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: white;
}

.face-red {
    background: rgba(255, 0, 0, 0.1);
    border: 2px solid red;
}

.face-green {
    background: rgba(0, 255, 0, 0.1);
    border: 2px solid green;
}

.face-blue {
    background: rgba(0, 0, 255, 0.1);
    border: 2px solid blue;
}

.front {
    transform: rotateY(0deg) translateZ(100px);
}
.back {
    transform: rotateY(180deg) translateZ(100px);
}
.right {
    transform: rotateY(90deg) translateZ(100px);
}
.left {
    transform: rotateY(-90deg) translateZ(100px);
}
.top {
    transform: rotateX(90deg) translateZ(100px);
}
.bottom {
    transform: rotateX(-90deg) translateZ(100px);
}

@keyframes rotate {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }
    100% {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

.particles {
    position: absolute;
    width: 100%;
    height: 100%;
}

.particle {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    animation: float 5s infinite ease-in-out;
}

@keyframes float {
    0%,
    100% {
        transform: translateY(0) rotate(0deg);
    }
    50% {
        transform: translateY(-20px) rotate(180deg);
    }
}

.task-title {
    margin-top: 20px;
    color: white;
    font-size: 24px;
}
